@media (max-width: 1200px){

    html,body,#root{
    }

    *{
        
        padding: 0;
        margin: 0;
    }

    #root {
        grid-template-rows: 15% 2% auto 15%;
    }

    .contenedor_productos {
        width: 70%;
        font-size: 0.9rem;
    }
    
    .productos {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    
    .productos > div {
        width: 13rem;
        height: 20rem;
    }
}