header{
    width: 100%;
    height: 100%;

    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGW_RnTXFffuPmNSQO7FamXZIfC8xBNqOpaA&s);

    display: grid;

    grid-row-start: 1;
    grid-row-end:1 ;
    grid-column-start: 1;
    grid-column-end: 3;

    grid-template-rows: 15% 1fr;
}
.parte_arriba_H{
    display: grid;
    
    text-align: center;
    align-content: center;
    align-items: center;

    grid-template-columns: 1fr 1fr 15%;
}
.tienda{
    width: 17rem;

    display: flex;
    
    gap: 15px;
    background-color: rgba(3, 3, 3, 0.573);
    color: rgb(230, 228, 228);
    border-radius: 5rem;

    justify-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;

}
.opciones{
    display: flex;
    justify-content: space-evenly;
}
.opcion{
    width: 8rem;
    height: 2rem;

    justify-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;

    background-color: rgba(3, 3, 3, 0.573);
    color: rgb(233, 231, 231);
    border-radius: 5rem;
    
}
.iconos{
    display: flex;
    justify-content: space-around;
}
.icono{
    
    width: 3rem;
    height: 2rem;

    justify-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    cursor: pointer;

    background-color: rgba(3, 3, 3, 0.573);
    color: rgb(233, 231, 231);
    border-radius: 5rem;
      
}
.icono_2{
    width: 3rem;
    height: 2rem;

    justify-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    cursor: pointer;

    background-color: rgba(3, 3, 3, 0.573);
    color: rgb(233, 231, 231);
    border-radius: 5rem;
      
}
.descripcionHeader{
    display: grid;


    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 5% 20% 1fr 30%;
}
.titulo_H{
    display: grid;

    align-self: flex-end;
    text-align:center;

    grid-row-start:2 ;
    grid-row-end: 2 ;
    grid-column-start: 2;
    grid-column-start: 2;

}
.desc{
    display: grid;
    width: 35rem;
    height: 5rem;
    
    background-color: rgba(63, 62, 62, 0.703);
    color: rgb(233, 231, 231);
    border-radius: 6rem;
    font-size: 0.8rem;

    text-align: center;
    align-content: center;
    align-items: center;
    

    grid-row-start:3 ;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-start: 2;
}
.desc div{
    width: 31rem;

    display: flex;

    justify-self: center;
    align-self: center;
    align-content: center;
    text-align: center;
}
.buscador{
    width: 60%;
    height: 1.5rem;

    align-self: center;
    justify-self: center;
    
    display: grid;
    background-color: rgb(248, 247, 247);

    grid-row-start:4 ;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-start: 2;
}
input::placeholder{
    display: flex;
    
    
    color: rgb(141, 140, 140);
}
/* Estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* modal sign in*/
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%    ;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content1 {
    background-color: #7a7777b1;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75rem;
    border-radius: 10px;
}

.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*diseno del login*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    width: 100%;
}

.login-box {
    background: rgba(0, 0, 0, 0.694);
    padding: 40px;
    width: 100%;
    height: 25rem;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.login-box h2 {
    color: #fff;
    margin: 0 0 20px;
    padding: 0;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #fff;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.login-button {
    background: none;
    border: none;
    color: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}

.login-button:hover {
    background: #03a9f4;
    color: #fff;
    border-radius: 5px;
}